@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
* {
  margin: 0;
  padding: 0;
}
main{
  
  margin-left: 150px;
  margin-right: 165px;
}

body{

background-color: #DFFAFA;
background-size: cover;

}
a {
  color:  rgb(0, 0, 0);
  text-decoration: none;
  transition: 0.3s;
  
}
a:hover {
  opacity: 0.7;
  color:#0CA2C7;
}

.log{
  margin-top: 11px;
  height: 40px;
  width: 200px;
  left: 21px;
  top: 0px;
  border-radius: 0px;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #DFFAFA;
  height: 10vh;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background:  rgb(0, 0, 0);
  margin: 8px;
  transition: 0.3s;
}
/*BOTÂO*/
.btnSaibaMais:hover{
  transition: background-color 0.55s;
  background-color: #0CA2C7;
}

.btnSaibaMais{
  cursor: pointer;
  color: rgb(255, 255, 255);
  position: absolute;
  text-align: center;
  margin-top: 550px;
  margin-left: 300px;
  padding: 10px 8px;
  max-width: 200px;
  min-width: 160px;
  background: #000000;
  border-radius: 10px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
}
 /*CSS HOME*/
 .secaoHome1{
  position: fixed;
  width: 60vw;
  left: 70px;
  top: 200px;
  font-family: 'Noto Serif', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 4vw;
  color: #000000;
  }
  .secaoHome2{
      position:fixed;
      width: 30vw;
      top:370px;
      font-family: 'Sanchez';
      font-style: italic;
      font-weight: 400;
      font-size: 2vw;
      
      left: 725px;
      color: #000000;
  }
  .secaoHome2 a{
      color: #0e1ea8;
      text-decoration: none;
      transition: 0.3s;
  }
  .secaoHome2 a:hover {
      opacity: 0.7;
  }
  /*Serviços*/
  /*Quadrado de Contábil*/
.secaoServiços2 img{
  position: absolute;
  
  min-width: 180px;
  height: 90px;
  left: 100px;
  top: 190px;
  border-radius: 10px 10px 0px 0px;
}
.divServiços1{
position: absolute;
min-width: 180px;
height: 40px;
left: 100px;
top: 280px;
background: #0CA2C7;
}
.divServiços1 p{
margin-left: 40px;
margin-top: 8px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
color: #FFFFFF;
}
.divServiços2 {
position: absolute;
max-width: 180px;
min-width: 180px;
height: 225px;
left: 100px;
top: 320px;
background: #D9D9D9;
}
.divServiços2 ul{
  margin-left: 5px;
  text-align: left;
  margin-top: 10px;
  list-style: none;
  line-height: 25px;
}
.divServiços2 a{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 20px;
}
.divServiços3{
position: absolute;
max-width: 200px;
min-width: 180px;
height: 60px;
left: 100px;
top: 545px;
background: #0CA2C7;
border-radius: 0px 0px 10px 10px;
}
.divServiços3 a{
  position: absolute;
  margin-left: 33px;
  margin-top: 15px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 550;
  font-size: 23px;
  color: #FFFFFF;
}
.divServiços3 a:hover{
  color: #0e1ea8;
}

/*Quadrado Inovação*/
.secaoServiços3 img{
  position: absolute;
  
  min-width: 180px;
  height: 90px;
  left: 350px;
  top: 190px;
  border-radius: 10px 10px 0px 0px;
}
.divServiços4{
position: absolute;
min-width: 180px;
height: 40px;
left: 350px;
top: 280px;
background: #0CA2C7;
}
.secaoServiços3 p{
position: absolute;
margin-left: 40px;
margin-top: 8px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
color: #FFFFFF;
}
.divServiços5 {
position: absolute;
max-width: 180px;
min-width: 180px;
height: 225px;
left: 350px;
top: 320px;
background: #D9D9D9;
}
.divServiços5 ul{
  margin-left: 5px;
  text-align: left;
  margin-top: 10px;
  list-style: none;
  line-height: 30px;
}
.divServiços5 a{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 20px;
}
.divServiços6{
position: absolute;
max-width: 200px;
min-width: 180px;
height: 60px;
left: 350px;
top: 545px;
background: #0CA2C7;
border-radius: 0px 0px 10px 10px;
}
.divServiços6 a{
  position: absolute;
  margin-left: 33px;
  margin-top: 15px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 550;
  font-size: 23px;
  color: #FFFFFF;
}
.divServiços6 a:hover{
  color: #0e1ea8;
}
/*CSS do BLOCO de PREVIDENCIA*/
.secaoServiços4 img{
  position: absolute;
  
  min-width: 180px;
  height: 90px;
  left: 600px;
  top: 190px;
  border-radius: 10px 10px 0px 0px;
}
.divServiços7{
  position: absolute;
  min-width: 180px;
  height: 40px;
  left: 600px;
  top: 280px;
  background: #0CA2C7;
  }
.secaoServiços4 p{
margin-left: 28px;
margin-top: 8px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
color: #FFFFFF;
}
.divServiços8 {
position: absolute;
max-width: 180px;
min-width: 180px;
height: 225px;
left: 600px;
top: 320px;
background: #D9D9D9;
}
.divServiços8 ul{
  margin-left: 5px;
  text-align: left;
  margin-top: 10px;
  list-style: none;
  line-height: 35px;
}
.divServiços8 a{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 20px;
}
.divServiços9{
position: absolute;
max-width: 200px;
min-width: 180px;
height: 60px;
left: 600px;
top: 545px;
background: #0CA2C7;
border-radius: 0px 0px 10px 10px;
}
.divServiços9 a{
  position: absolute;
  margin-left: 33px;
  margin-top: 15px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 550;
  font-size: 23px;
  color: #FFFFFF;
}
.divServiços9 a:hover{
  color: #0e1ea8;
}
/*CSS do BLOCO de IMOVEIS*/
.secaoServiços5 img{
  position: absolute;
  
  min-width: 180px;
  height: 90px;
  left: 850px;
  top: 190px;
  border-radius: 10px 10px 0px 0px;
}
.divServiços10{
  position: absolute;
  min-width: 180px;
  height: 40px;
  left: 850px;
  top: 280px;
  background: #0CA2C7;
  }
.secaoServiços5 p{
margin-left: 50px;
margin-top: 8px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
color: #FFFFFF;
}
.divServiços11 {
position: absolute;
max-width: 180px;
min-width: 180px;
height: 225px;
left: 850px;
top: 320px;
background: #D9D9D9;
}
.divServiços11 ul{
  margin-left: 5px;
  text-align: left;
  margin-top: 10px;
  list-style: none;
  line-height: 35px;
}
.divServiços11 a{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 20px;
}
.divServiços12{
position: absolute;
max-width: 200px;
min-width: 180px;
height: 60px;
left: 850px;
top: 545px;
background: #0CA2C7;
border-radius: 0px 0px 10px 10px;
}
.divServiços12 a{
  position: absolute;
  margin-left: 33px;
  margin-top: 15px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 550;
  font-size: 23px;
  color: #FFFFFF;
}
.divServiços12 a:hover{
  color: #0e1ea8;
}

  
@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #0CA2C7;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    
  }
  .nav-list li {
    margin-left: 0;
    
  }
  .mobile-menu {
    display: block;
  }
  a {
    color:  rgb(0, 0, 0);
    text-decoration: none;
    transition: 0.3s;
    
  }
  a:hover {
    opacity: 0.7;
    color: #000000;
  }
  img{
    
    width: 350px;
    }

    .btnSaibaMais{
      cursor: pointer;
      color: rgb(255, 255, 255);
      position: absolute;
      text-align: center;
      margin-top: 430px;
      margin-left: 100px;
      padding: 10px 8px;
      max-width: 200px;
      min-width: 160px;
      background: #000000;
      border-radius: 10px;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 23px;
      z-index: 0;
    }
    /*CSS HOME*/
    .secaoHome1{
      position: absolute;
      width: 80vw;
      left: 45px;
      top: 200px;
      font-family: 'Noto Serif', serif;
      font-style: normal;
      font-weight: 500;
      font-size: 5vw;
      color: #000000;
      }
    .secaoHome2{

      position: absolute;
      width: 40vw;
      top:370px;
      font-family: 'Sanchez';
      font-style: italic;
      font-weight: 400;
      font-size: 4vw;
      left: 45px;
      color: #000000;
  }
 
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

